:root {
  --color1: #ad1919;
  --color2: #ff2424;
  /* --primary-color: #1e64ce;
  --primary-color-shade: #1f6ee7;
  --primary-color-tint: #2081e7;
  --primary-color-contrast: #ffffff;
  --highlight-color: #ffffff;
  --tabIcon-filter: invert(0); */
}
