.swiper-pagination-bullet {
  /* background-color: rgba(156, 156, 156, 0.305) !important;
    opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}
.swiper-pagination-bullet-active {
  /* background: white !important;
    opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}

.swiper-slide{
  font-size: 14px !important;
}

button {
  border: none;
  border-width: 0px;
}


p.odds_volume {
  text-align: center;
  max-width: 30px;
  margin: 0 auto;
  font-size: 10px;
  line-height: normal;

}
h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  line-height: 14px;
}

.blink {
  animation: blinking 300ms !important;
  -webkit-animation: blinking 300ms !important;
  background-color: #ffc01a !important;
}

@keyframes blinking {
  100% {
    background-color: #ffc01a !important;
  }
}
