#loader-section {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load-inner {
  position: relative;
  text-align: center;
}

#load-inner svg {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet {
  /* background-color: rgba(156, 156, 156, 0.305) !important;
    opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}
.swiper-pagination-bullet-active {
  /* background: white !important;
    opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}

.swiper-slide{
  font-size: 14px !important;
}

button {
  border: none;
  border-width: 0px;
}


p.odds_volume {
  text-align: center;
  max-width: 30px;
  margin: 0 auto;
  font-size: 10px;
  line-height: normal;

}
h4 {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  line-height: 14px;
}

.blink {
  animation: blinking 300ms !important;
  -webkit-animation: blinking 300ms !important;
  background-color: #ffc01a !important;
}

@keyframes blinking {
  100% {
    background-color: #ffc01a !important;
  }
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100 - 180px);
}

.animate-spin {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Loader end*/

